ahk/*.zip
c/*.zip
c/painter/
cc/*.zip
flutter/*.zip
flutter/calulator/
haskell/*.zip
java/*.zip
java/wu_java_oop/e_networking/files/*
javascript/*.zip
laravel/*.zip*
laravel/learn-laravel/
lua/*.zip*
my_knowlage_lib/*.zip
python/*.zip
script/*.zip
web_deverlopment/*.zip
*.zip
