<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    ? for (int i = 0; i <= 10; ++i) { ?
      <h3>Header ? INT(i) ?</h3>
    ? } ?

    <div>
        <table>
            <thead style="background-color: red;">
                <tr style="background-color: red;">
                    ? for (int headers = 0; headers <= 3; ++headers) { ?
                        <th>
                            Header ? INT(headers) ?
                        </th>
                    ? } ?
                </tr>
            </thead>
            <tbody style="background-color: blue;">
                ? for (int row = 0; row <= 3; ++row) { ?
                    <tr style="background-color: blue;">
                        ? for (int rows = 0; rows <= 3; ++rows) { ?
                            <th>
                                Row ? INT(rows) ?
                            </th>
                        ? } ?
                    </tr>
                ? } ?
            </tbody>
        </table>
    </div>
</body>
</html>
