<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    ? for (int i = 0; i <= 10; ++i) { ?
      <h3>Header ? INT(i) ?</h3>
    ? } ?

    ? for (int row = 1; row <= 3; ++row) { ?
        ? for (int col = 1; row <= 3; ++col) { ?
            [? INT(row) ?|? INT(col) ?]
        ? } ?
    ? } ?
</body>
</html>
